<div class="example-container">

  <div class="container-fluid row">
    <div class="col-4 d-flex">
      <a class="navbar-brand" mat-icon-button (click)="sideNav.toggle()">
        <mat-icon>menu</mat-icon>
      </a>
    </div>
  </div>
  <mat-sidenav-container class="container-fluid">
    <mat-sidenav #sideNav mode="over" fixedInViewport="true" fixedTopGap="40" style="width: 200px;">
      <mat-nav-list style="padding-top: 0px;">
        <a mat-list-item routerLink="." (click)="sideNav.close()">第一按鈕</a>
        <a mat-list-item routerLink="showdailog" (click)="sideNav.close()">第二按鈕</a>
        <a mat-list-item routerLink="list" (click)="sideNav.close()">清單</a>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
  <router-outlet></router-outlet>
</div>
