.searchDiv {
  display: inline-flex;
  position: relative;
  padding: 10px 20px;
  border: 1px solid #cad1d7;
  border-radius: 30px;
  align-items: center;
  flex: 1 0 auto;
}

.search {
  display: flex;
  width: 100%;
  max-width: 100%;
  padding: 0px 5px;

}

.icon {
  position: relative;
  right: 0px;
  width: 20px;
  height: 18px;
}
